/*
---------------
CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/
---------------
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*
---------------
Font size variables
---------------
*/

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1728,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  /* Step -2: 11.1111px → 12.8px */
  --step--2: clamp(0.6944rem, 0.6705rem + 0.1199vw, 0.8rem);
  /* Step -1: 13.3333px → 16px */
  --step--1: clamp(0.8333rem, 0.7955rem + 0.1894vw, 1rem);
  /* Step 0: 16px → 20px */
  --step-0: clamp(1rem, 0.9432rem + 0.2841vw, 1.25rem);
  /* Step 1: 19.2px → 25px */
  --step-1: clamp(1.2rem, 1.1176rem + 0.4119vw, 1.5625rem);
  /* Step 2: 23.04px → 31.25px */
  --step-2: clamp(1.44rem, 1.3234rem + 0.5831vw, 1.9531rem);
  /* Step 3: 27.648px → 39.0625px */
  --step-3: clamp(1.728rem, 1.5659rem + 0.8107vw, 2.4414rem);
  /* Step 4: 33.1776px → 48.8281px */
  --step-4: clamp(2.0736rem, 1.8513rem + 1.1115vw, 3.0518rem);
  /* Step 5: 39.8131px → 61.0352px */
  --step-5: clamp(2.4883rem, 2.1869rem + 1.5072vw, 3.8147rem);
  /* Step 6: 47.7757px → 76.2939px */
  --step-6: clamp(2.986rem, 2.5809rem + 2.0254vw, 4.7684rem);
}

/*
---------------
Font
---------------
*/

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 7, 2025 */

@font-face {
  font-family: 'reenie_beanieregular';
  src: url('../assets/fonts/reeniebeanie-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../assets/fonts/roboto-variablefont_wdthwght-webfont.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*
---------------
Layout 
---------------
*/

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 100vw;

  font-family: 'robotoregular', sans-serif;
  font-size: var(--step-0);
}

/* main heading */

.main-heading-container {
  grid-column: span 2;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  background: #7189ff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.main-heading-and-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.main-heading-container h1 {
  font-family: 'reenie_beanieregular', sans-serif;
  font-size: var(--step-6);
  font-weight: 500;
  text-align: center;
}

.main-heading-container .list-icon {
  width: 100px;
}

/*
---------------
Navigation
---------------
*/

/* hamburger on main heading */

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;

  background-color: #111;
  transition: all 0.3 ease-in-out;
}

/* nav on left side */

nav {
  padding: 2rem;

  background: #624cab;
  color: #fff;
}

nav h2 {
  font-size: var(--step-2);
  font-weight: 500;

  border-bottom: 2px solid #fff;
}

.add-todo-icon-and-btn,
.add-project-icon-and-btn {
  margin: 1.25rem 0;
}

.add-todo-btn,
.add-project-btn {
  font-size: var(--step-1);
  font-weight: 700;
}

.nav-project-heading {
  margin-top: 4rem;
}

nav .feather-icon {
  width: 32px;
  height: 32px;
}

.feather-icon {
  cursor: pointer;
}

nav button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

nav li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem 0;
  padding: 0.5rem 1rem;
  width: max-content;

  border-radius: 30px;
}

nav li:hover {
  background-color: #7189ff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.add-todo-icon-and-btn:hover,
.add-project-icon-and-btn:hover {
  background-color: #d81159;
}

.active-btn-container.active {
  background-color: #7189ff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

/*
---------------
Todos Content
---------------
*/

.category-heading {
  margin: 3rem 0;
  text-align: center;
  font-size: var(--step-4);

  color: #624cab;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0 2rem 0;

  font-family: 'reenie_beanieregular', sans-serif;
}

.project-heading {
  font-size: var(--step-4);
  font-weight: 500;
}

.todo-container {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;

  border-bottom: 2px solid #a0ddff;
}

.todo-icons-container,
.project-header-icons-container {
  display: flex;
  gap: 0.5rem;
}

.completed {
  color: #c1cefe;
  text-decoration: line-through;
}

input[type='checkbox'] {
  appearance: none;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  cursor: pointer;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #c1cefe;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.important {
  color: #d81159;
}

.completed {
  color: #c1cefe;
  text-decoration: line-through;
}

.description-container {
  background-color: #a0ddff;
  padding: 1rem 2rem;
}

.hide {
  display: none;
}

.chevron-icon-container {
  transition: transform 0.3s ease; /* smooth transition for the flip in class .flip-icon */
}

.flip-icon {
  transform: scaleY(-1); /* vertical flip */
}

.empty {
  text-align: center;
}

#content {
  margin-bottom: 3rem;
}

/*
---------------
Footer
---------------
*/

footer {
  grid-column: span 2;
  padding: 0.5rem;
  text-align: center;

  background-color: #c1cefe;
}

footer a {
  color: #fff;
}

/*
---------------
Forms
---------------
*/

dialog {
  padding: 2rem;

  border-radius: 30px;
  border: none;
  background-color: #7189ff;
  color: #fff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}

form h3 {
  margin-bottom: 1rem;
  font-size: var(--step-2);
  text-align: center;
}

input,
select,
textarea {
  padding: 0.15rem 0.5rem;

  border-radius: 30px;
  border: 3px solid #fff;
}

textarea {
  border-radius: 10px;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #c1cefe;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

form input:focus,
select:focus,
textarea:focus {
  border: 3px solid #6439f2;
  outline: none;
}

dialog button {
  justify-self: center;
  padding: 0.5rem 2rem;

  border-radius: 30px;
  border: none;
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.submit-todo-btn,
.submit-edit-todo-btn,
.submit-project-btn,
.submit-edit-project-btn,
.cancel-todo-btn,
.cancel-edit-todo-btn,
.cancel-project-btn,
.cancel-edit-project-btn {
  color: #fff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.submit-todo-btn,
.submit-edit-todo-btn,
.submit-project-btn,
.submit-edit-project-btn {
  margin-top: 2rem;
  background-color: #6439f2;
}

.cancel-todo-btn,
.cancel-edit-todo-btn,
.cancel-project-btn,
.cancel-edit-project-btn {
  background-color: #d81159;
}

.submit-todo-btn:hover,
.submit-edit-todo-btn:hover,
.submit-project-btn:hover,
.submit-edit-project-btn:hover,
.cancel-todo-btn:hover,
.cancel-edit-todo-btn:hover,
.cancel-project-btn:hover,
.cancel-edit-project-btn:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

#edit-todo-current-project,
#edit-current-project {
  background-color: rgb(17, 17, 17);
  border: 3px solid rgb(17, 17, 17);
  color: #fff;
}

form input[type='checkbox'] {
  background-color: #fff;
  border-radius: 8px;
}

form input[type='checkbox']::before {
  background-color: black;
}

/*
---------------
Media Queries
---------------
*/

@media (max-width: 850px) {
  body {
    grid-template-columns: 1fr;
  }

  .main-heading-container {
    justify-content: space-around;
  }

  .project-header {
    gap: 1rem;
  }

  .todo-container {
    gap: 0.5rem;
    padding: 1rem;
  }

  /* navigation */
  nav {
    /* need this to toggle active class*/
    display: none;

    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    min-height: 100vh;
    min-width: 70%;
    padding-top: 100px;

    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  }

  nav.active-nav {
    display: flex;
  }

  .navbar-toggle {
    display: block;
    z-index: 1000;
  }

  /* turn bars into X */
  .navbar-toggle.active-nav .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active-nav .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #d81159;
  }

  .navbar-toggle.active-nav .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #d81159;
  }
}

/* TO DO...... */
/* logic for empty projects */
